{# empty Twig template #}


<div class="panel-group" style='margin-top:100px'>
    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body ">


            <div class='divGauche'>
                <ul style='text-align: left'>
                    <p><b>Adresse</b></p>             
                    <lI> Lycée Louis Armand</lI>
                    <lI> 173 Boulevard de Strasbourg</lI>
                    <lI>94736 Nogent-sur-Marne</lI>
                    <lI>Tel : 0123456789</lI>
                </ul>
            </div>

            <div class='divDroite'>
                <ul style='text-align: left'>
                    <p><b>Questions ? </b></p>             
                    <lI> FAQ</lI>
                    <lI> Documentations </lI>
                    <lI> Mentions Légales</lI>
                    <lI>Conditions d'utilisation</lI>
                   
                </ul>
            </div> 
            <div class='divDroite'>
                <ul style='text-align: left'>

                    <h5>Web site developped by Belaroussi Driss.</h5>
                </ul>
            </div>





        </div>
    </div>
</div>

